	{{ if .Site.Copyright }}
	<section id="copyright" class="sect-connection selfclear">
		<div class="size1of1">
			<div class="single-connection-wrap">
				<p>{{ .Site.Copyright }}. <a href="{{ .Site.BaseURL }}/privacy-policy-return-policy">Privacy Policy</a>. Made with <i class="fa fa-heart"></i> by <a href="http://sleepingbeardesign.com/" target="_blank">Sleeping Bear Design</a></p>
			</div>
		</div>
	</section>
	</div>
	{{ end }}
    <script src="js/instafeed.min.js"></script>
</body>

</html>