{{ partial "header.html" . }}
<body class="product-page">
  {{ partial "navbar.html" . }}
  {{ if .Site.Params.fbpixel }}<script type="text/javascript">fbq('track', 'ViewContent');</script>{{ end }}
  <div class="wrapper">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="tab-content">
              <div class="tab-pane active" id="product-page1">
                <img src="{{ .Params.imgurl }}">
              </div>
              {{ $.Scratch.Set "altTxt" .Title }}
              {{ $.Scratch.Set "tagCounter" 2 }}
              {{ range .Params.prodimgs }}
              <div class="tab-pane" id="product-page{{ $.Scratch.Get "tagCounter" }}">
                <img src="{{ . }}" class="img-responsive" alt="{{ $.Scratch.Get "altTxt" }}">
              </div>
              {{ $.Scratch.Add "tagCounter" 1 }}
              {{ end }}
              </div> <!-- tab-content end -->
              <ul class="nav nav-text" role="tablist" id="flexiselDemo1">
                <li class="active">
                  <a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
                    <img src="{{ .Params.imgurl }}"/>
                  </a>
                </li>
                
                {{ $.Scratch.Set "tagCounter" 2 }}
                {{ range .Params.prodimgs }}
                <li class="">
                  <a href="#product-page{{ $.Scratch.Get "tagCounter" }}" role="tab" data-toggle="tab" aria-expanded="false">
                    <img src="{{ . }}"/>
                  </a>
                </li>
                {{ $.Scratch.Add "tagCounter" 1 }}
                {{ end }}
                
              </ul>
              <div class="clearfix"></div>
              
              
            </div>
            <div class="col-md-6">
              <div class="product-details">
                <h3 class="title">{{ .Title }}</h3>
                <p class="description">
                  {{ .Params.mini }}
                </p>
                
                {{ if .Params.saleprice }}
                <span class="price price-old">${{ .Params.price }}</span>
                <span class="price price-new">${{ .Params.saleprice }}</span>
                {{ else }}
                <span class="price">${{ .Params.price }}</span>
                {{ end }}
              </div>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Product Description
                    </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{ .Description | safeHTML }}
                    </div>
                  </div>
                </div>
                {{ with .Params.details }}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Details
                    </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      {{ . }}
                    </div>
                  </div>
                </div>
                {{ end }}
                </div> <!-- Acordeon  -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-6">
                <div class="actions">
                  <div class="pull-left">
                    {{ if .Params.colors }}
                    <div class="form-group">
                      <div class="btn-group bootstrap-select">
                        <label>Select Color</label>
                        <div class="form-group">
                          <select id="my-color" name="huge" class="selectpicker" data-style="form-control" title="Select a Color">
                            {{ range .Params.colors }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                          </select>
                        </div>
                      </div>
                    </div>
                    {{ end }}
                    {{ if .Params.sizes }}
                    <div class="form-group">
                      <div class="btn-group bootstrap-select">
                        <label>Select Size</label>
                        <div class="form-group">
                          <select id="my-size" name="huge" class="selectpicker" data-style="form-control" title="Select a Size">
                            {{ range .Params.sizes }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                          </select>
                        </div>
                      </div>
                    </div>
                    {{ end }}
                    {{ if .Params.customizable }}
                    <div class="form-group">
                      <div class="btn-group bootstrap-select">
                        <label>Select Name</label>
                        <div class="form-group">
                          <input id="my-name" type="text" value="" placeholder="Name on Back" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="btn-group bootstrap-select">
                        <label>Select Number</label>
                        <div class="form-group">
                          <input id="my-number" type="number" value="" placeholder="Number on Back" class="form-control" />
                        </div>
                      </div>
                    </div>
                    {{ end }}
                  </div>
                  <div class="pull-right">
                    <a id="addtocart" href="#" class="btn btn-default btn-fill btn-lg snipcart-add-item" data-item-id="{{ .Params.id }}"
                      data-item-name="{{ .Title }}"
                      data-item-price="{{ if .Params.saleprice }}{{ .Params.saleprice }}{{else}}{{ .Params.price }}{{end}}"
                      data-item-weight="{{ .Params.weight }}"
                      data-item-url="{{ .Permalink }}"
                      data-item-image="{{ .Params.imgurl }}"
                    >Add to Cart &nbsp;<i class="fa fa-chevron-right"></i></a>
                    <script type="text/javascript">
                    {{ if .Params.sizes }}
                    $('#addtocart').data('item-custom1-name', 'Size');
                    $('#addtocart').data('item-custom1-options', '{{ delimit .Params.sizes "|" }}');
                    $('#my-size').on('changed.bs.select', function() {
                    $('#addtocart').data('item-custom1-value', $(this).find("option:selected").val());
                    });
                    {{ end }}
                    {{ if .Params.colors }}
                    $('#addtocart').data('item-custom2-name', 'Color');
                    $('#addtocart').data('item-custom2-options', '{{ delimit .Params.colors "|" }}');
                    $('#my-color').on('changed.bs.select', function() {
                    $('#addtocart').data('item-custom2-value', $(this).find("option:selected").val());
                    });
                    {{ end }}
                    {{ if .Params.customizable }}
                    $('#addtocart').data('item-custom3-name', 'Name');
                    $('#addtocart').data('item-custom3-required', 'true');
                    $('#my-name').on('change', function() {
                    $('#addtocart').data('item-custom3-value', $(this).val());
                    });
                    $('#addtocart').data('item-custom4-name', 'Number');
                    $('#addtocart').data('item-custom4-required', 'true');
                    $('#my-number').on('change', function() {
                    $('#addtocart').data('item-custom4-value', $(this).val());
                    });
                    $('#addtocart').data('item-stackable', 'false');
                    {{ end }}
                    </script>
                  </div>
                </div>
              </div>
            </div>
            {{ if .NextInSection }}
            <div class="row add-row">
              <div class="container container-border">
                <div class="col-md-4 col-sm-4">
                  <h4>Need more gear?</h4>
                </div>
                <div class="col-md-4 col-sm-4">
                  <h5>{{.NextInSection.Title}}</h5>
                  
                  {{ if .NextInSection.Params.saleprice }}
                  <p class="price"><span class="price-old">${{ .NextInSection.Params.price }}</span> <strong class="price-new">${{ .NextInSection.Params.saleprice }}</strong></p>
                  {{ else }}
                  <p class="price"><strong>${{.NextInSection.Params.price}}</strong></p>
                  {{ end }}
                  <p>{{.NextInSection.Params.mini}}</p>
                  <a href="{{ .NextInSection.Permalink }}" class="btn btn-fill btn-default"> View Now</a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                  <img src="{{.NextInSection.Params.imgurl}}" alt="Rounded Image" class="img-rounded img-responsive">
                </div>
              </div>
            </div>
            {{ else }}
            <div class="row add-row">
              <div class="container container-border">
                <div class="col-md-4 col-sm-4">
                  <h4>Need more gear?</h4>
                </div>
                <div class="col-md-4 col-sm-4">
                  <h5>{{.PrevInSection.Title}}</h5>
                  
                  {{ if .PrevInSection.Params.saleprice }}
                  <p class="price"><span class="price-old">${{ .PrevInSection.Params.price }}</span> <strong class="price-new">${{ .PrevInSection.Params.saleprice }}</strong></p>
                  {{ else }}
                  <p class="price"><strong>${{.PrevInSection.Params.price}}</strong></p>
                  {{ end }}
                  <p>{{.PrevInSection.Params.mini}}</p>
                  <a href="{{ .PrevInSection.Permalink }}" class="btn btn-fill btn-default"> View Now</a>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                  <img src="{{.PrevInSection.Params.imgurl}}" alt="Rounded Image" class="img-rounded img-responsive">
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        
        {{ partial "footer.html" . }}