{{ partial "header.html" . }}
<body class="game-page">
<script type="text/javascript">
  document.title = "{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}} -- {{ .Site.Title }}";
  $('meta[property=og\\:title]').remove();
  $('meta[name=twitter\\:title]').remove();
  $('head').append( '<meta property="og:title" content="{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}} -- {{ .Site.Title }}">' );
  $('head').append( '<meta name="twitter:title" content="{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}} -- {{ .Site.Title }}">' );
</script>
  {{ partial "facebook-SDK.html" . }}
  {{ partial "navbar.html" . }}
  {{ if .Site.Params.fbpixel }}<script type="text/javascript">fbq('track', 'ViewContent');</script>{{ end }}
  <div class="wrapper">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="tab-content">
              <div class="tab-pane active">
                <img class="img-responsive" src="assets/img/schedule/{{.Params.opponent | urlize }}.jpg">
              </div>
            </div> <!-- tab-content end -->
          </div>
          <div class="col-md-6">
            <div class="product-details">
              <h3 class="title">{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}}</h3>
              <p class="description">
                {{ if .Params.completed }}Thanks for coming out to watch your own MKG Riser's as they played {{.Params.opponent}} on {{ .Date.Format "Monday, Jan 2, 2006" }}!{{ else }}
                Catch your own MKG Riser's playing {{ if .Params.home }}home against {{ else }}at {{ end }}{{.Params.opponent}} on {{ .Date.Format "Monday, Jan 2, 2006" }}{{ if .Params.home }} at {{.Params.game_time}}{{ end }}! {{ if .Params.price }}You may purchase your ticket online or on game day at the field. All home games are $5.{{ if .Params.shippable }} These tickets will be shipped to your provided address.{{ else }} Tickets will be picked up at will call on the day of the game or printed for a small fee.{{ end }} {{ else }}You may purchase your ticket on game day at the field. Prices may vary depending on the field.{{ end }} Below is a map of where the field is located.
                {{ end }}
              </p>
              {{ if eq .Params.completed false}}
                {{ if .Params.seating }}
                <span class="price">${{ .Params.price }} +</span>
                    <div class="form-group">
                      <div class="btn-group bootstrap-select">
                        <label>Select Seating</label>
                        <div class="form-group">
                          <select id="my-seating" name="huge" class="selectpicker" data-style="form-control" title="Select Seating">
                            {{ range .Params.seating }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                          </select>
                        </div>
                      </div>
                    </div>

                      <div class="pull-right">
                         <a id="addtocart" href="#" class="btn btn-default btn-fill btn-lg snipcart-add-item" data-item-id="{{ .Params.id }}"
                           data-item-name="{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}}"
                           data-item-price="{{ .Params.price }}"
                           data-item-shippable="{{ .Params.shippable }}"
                           data-item-url="{{ .Permalink }}"
                           data-item-image="assets/img/schedule/{{.Params.opponent | urlize }}.jpg"
                         >Add to Cart &nbsp;<i class="fa fa-chevron-right"></i></a>
                       </div>
                        <script type="text/javascript">
                          $('#addtocart').data('item-custom5-name', 'Seating');
                          $('#addtocart').data('item-custom5-required', 'true');
                          $('#addtocart').data('item-custom5-options', '{{ delimit .Params.seatingprices "|" }}');
                          $('#my-seating').on('changed.bs.select', function() {
                          $('#addtocart').data('item-custom5-value', $(this).find("option:selected").val());
                          });
                        </script>
                    {{ else }}
                     {{ if .Params.saleprice }}
                     <span class="price price-old">${{ .Params.price }}</span>
                     <span class="price price-new">${{ .Params.saleprice }}</span>
                     <div class="pull-right">
                       <a id="addtocart" href="#" class="btn btn-default btn-fill btn-lg snipcart-add-item" data-item-id="{{ .Params.id }}"
                         data-item-name="{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}}"
                         data-item-price="{{ .Params.saleprice }}"
                         data-item-shippable="{{ .Params.shippable }}"
                         data-item-url="{{ .Permalink }}"
                         data-item-image="assets/img/schedule/{{.Params.opponent | urlize }}.jpg"
                       >Add to Cart &nbsp;<i class="fa fa-chevron-right"></i></a>
                     </div>
                     {{ else }}
                       {{ if .Params.price }}
                       <span class="price">${{ .Params.price }}</span>
                       <div class="pull-right">
                         <a id="addtocart" href="#" class="btn btn-default btn-fill btn-lg snipcart-add-item" data-item-id="{{ .Params.id }}"
                           data-item-name="{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}}"
                           data-item-price="{{ .Params.price }}"
                           data-item-shippable="{{ .Params.shippable }}"
                           data-item-url="{{ .Permalink }}"
                           data-item-image="assets/img/schedule/{{.Params.opponent | urlize }}.jpg"
                         >Add to Cart &nbsp;<i class="fa fa-chevron-right"></i></a>
                       </div>
                       {{ end }}
                   {{ end }}
                 {{ end }}
               {{ end }}
            </div>
            {{ if eq .Params.completed false}}
            <div class="social-buttons">
              <h3 class="title">Share</h3>
              <button class="btn btn-social btn-round btn-fill btn-facebook" onclick="FB.ui({method: 'share', href: '{{.Permalink}}',}, function(response){});">
              <i class="fa fa-facebook"></i>
              </button>
              <a href="http://twitter.com/intent/tweet?text=Come checkout @{{ .Site.Params.twitter }} {{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}at {{ end }}{{ if .Params.opp_twitter }}@{{ .Params.opp_twitter }}{{ else }}{{ .Params.opponent }}{{ end }}&url={{.Permalink}}&via={{ .Site.Params.twitter }}&related=watchmuskegon,{{ .Params.opp_twitter }}&hashtags=gomkg" target="_blank" class="btn btn-social btn-round btn-fill btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://plus.google.com/share?url={{.Permalink}}" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn btn-social btn-round btn-fill btn-google">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="http://pinterest.com/pin/create/bookmarklet/?media={{ .Site.BaseURL }}assets/img/social/pinterest.jpg&url={{.Permalink}}&is_video=false&description=Come checkout {{ .Site.Params.twitter }} {{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}}" target="_blank" class="btn btn-social btn-round btn-fill btn-pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </div>
            {{ end }}
            <br>
            <div class="card card-background">
              <div class="map" id="map"></div>
              <div class="place-card">
                <div class="left-side">
                  {{ with .Params.field_name }}<h2>{{ . }}</h2>{{ end }}
                  {{ with .Params.address }}<p>{{ . }}</p>{{ end }}
                  {{ with .Params.google_map }}<a href="{{ . }}" target="_blank">View larger map</a>{{ end }}
                </div>

                <div class="right-side">
                  {{ with .Params.google_map }}<a href="{{ . }}" target="_blank">
                    <img src="assets/img/google-maps-logo.png" alt="Google Maps">
                    <span>Directions</span>
                  </a>{{ end }}
                </div>
              </div>
            </div> <!-- end card -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <script type="text/javascript">
               initGoogleMaps();
                function initGoogleMaps(){
                    var myLatlng = new google.maps.LatLng({{.Params.lat}}, {{.Params.lng}});
                    var mapOptions = {
                      zoom: 14,
                      center: myLatlng,
                      scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
                    }
                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title:"{{ if .Params.home }}MKG{{ else }}{{.Params.opponent}}{{ end }} Field"
                    });
                    // To add the marker to the map, call setMap();
                    marker.setMap(map);
                }
            </script>
          </div>
        </div>
      </div>  
    </div> <!-- end section -->
  </div>     
{{ partial "footer.html" . }}