<div class="col-md-4">
    <div class="card card-background">
        <a href="{{ .Permalink }}">
        <div class="image" style="background-image: url(&quot;assets/img/schedule/{{.Params.opponent | urlize}}.jpg&quot;); background-size: cover; background-position: 50% 50%;">
            <img src="assets/img/schedule/{{.Params.opponent | urlize }}.jpg" alt="{{.Params.opponent}}" style="display: none;">
            <div class="filter {{ if .Params.home }}filter-riser-green{{else}}filter-riser{{ end }}"></div>
        </div>
        <div class="content">
            <h4 class="title">Purchase tickets {{ if .Params.price }}here today!{{ else }}on game day!{{ end }}</h4>
        </div>
        <div class="footer">
            <h4 class="title">{{ .Date.Format "1/2" }} {{ if .Params.home }}V {{ else }}@ {{ end }}{{.Params.opponent}}</h4>
        </div>
        </a>
    </div> <!-- end card -->
</div>