    <section class="section-divider textdivider divider6 dividerodd dividershadow">
        <div class="container">
            <h1>BUILT IN MUSKEGON, MI, USA.</h1>
            <hr>
            <p>
                <a class="icon icon-twitter" href="https://twitter.com/RisersSC" target="_blank"></a> |
                <a class="icon icon-facebook" href="https://www.facebook.com/pages/Muskegon-Risers-SC/666777940040738" target="_blank"></a> |
                <a class="icon risers-instagram" href="http://instagram.com/riserssc" target="_blank"></a>
            </p>
            <p>
                <a href="http://www.muskegon.org/" title="Muskegon Lakeshore Chamber of Commerce" target="_blank"><img class="img-fluid center-block muskegonchamber" src="img/chambergreen.png">
                </a>
            </p>
        </div>
        <!-- container -->
    </section>
    <!-- section -->

    <div class="container" id="contact" name="contact">
        <div class="row">
            <br>
            <h1 class="centered">THANKS FOR VISITING US</h1>
            <hr>
            <br>
            <br>
            <div class="col-lg-4">
                <h3>Contact Information</h3>
                <p>
                    <span class="icon icon-envelop"></span> <a href="mailto:riserssc@gmail.com"> riserssc@gmail.com</a>
                    <br/>
                </p>
            </div>
            <!-- col -->

            <div class="col-lg-4">
                <h3>Learn More</h3>
                <p><span class="icon icon-twitter"></span> <a href="https://twitter.com/RisersSC" target="_blank"> @RisersSC </a>
                    <br/>
                    <span class="icon icon-facebook"></span> <a href="https://www.facebook.com/pages/Muskegon-Risers-SC/666777940040738" target="_blank"> Muskegon Risers SC </a>
                    <br/>
                    <span class="icon risers-instagram"></span> <a href="http://instagram.com/riserssc" target="_blank"> @riserssc </a>
                    <br/>
                </p>

            </div>
            <!-- col -->

            <div class="col-lg-4">
                <h3>Support Us</h3>
                <p>Keep checking back here and our social media for more information to come! Also keep checking our <a href="/blog" class="smoothScroll">blog</a> for news and updates!</p>
            </div>
            <!-- col -->

        </div>
        <!-- row -->

    </div>
    <!-- container -->

{{ if .Site.Copyright }}
    <div id="footerwrap">
        <div class="container">
            <h4>{{ .Site.Copyright }} - Created by <a href="http://www.sleepingbeardesign.com/" target="_blank">Sleeping Bear Design</a></h4>
        </div>
    </div>
{{ end }}

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/instafeed.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
</body>
</html>