<nav class="navbar navbar-default {{ if .IsHome }}navbar-transparent{{end}} navbar-fixed-top" role="navigation">
    {{ if .IsHome }}
    {{ with .Site.Params.notification }}
    <div class="alert alert-riser">
        <div class="container text-center">
            {{ . | safeHTML }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    {{ end }}
    {{ end }}

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mr-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ if .IsHome }}
          <a class="navbar-brand smoothScroll" href="#home"><img src="assets/img/mkg-logo.png" width="50px" /></a>
      {{ else }}
          <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="assets/img/mkg-logo.png" width="50px" /></a>
      {{ end }}
    </div>

    <div class="collapse navbar-collapse" id="mr-navbar">
      <ul class="nav navbar-nav navbar-right">
            {{ if .IsHome }}
                <li><a href="#home" class="smoothScroll">Home</a>
                </li>
                <li> <a href="#about" class="smoothScroll">About</a>
                </li>
                <li> <a href="#store" class="smoothScroll">Store</a>
                </li>
                <li> <a href="#staff" class="smoothScroll">Staff</a>
                </li>
                <li> <a href="#schedule" class="smoothScroll">Schedule</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}roster">Roster</a>
                </li>
                <li> <a href="https://blog.muskegonrisers.com/">Blog</a>
                </li>
                <li> <a href="#contact" class="smoothScroll">Contact</a>
                </li>
            {{ else }}
                <li><a href="{{ .Site.BaseURL }}">Home</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}#about">About</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}store">Store</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}#staff">Staff</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}#schedule">Schedule</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}roster">Roster</a>
                </li>
                <li> <a href="https://blog.muskegonrisers.com/">Blog</a>
                </li>
                <li> <a href="{{ .Site.BaseURL }}#contact">Contact</a>
                </li>
            {{ end }}
                <li>
                <a href="#" class="btn btn-round btn-default snipcart-checkout"><i class="fa fa-shopping-cart"></i><div class="snipcart-summary"> (<span class="snipcart-total-items"></span>)</div> Cart</a>
                </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
