<div id="testimonials-carousel" class="carousel slide" data-ride="carousel">                            
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {{ with $.Site.Data.sponsors}}
       {{ if .row1 }}
       <div class="item active">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row1 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
       {{ if .row2 }}
       <div class="item">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row2 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
       {{ if .row3 }}
       <div class="item">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row3 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
       {{ if .row4 }}
       <div class="item">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row4 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
       {{ if .row5 }}
       <div class="item">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row5 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
       {{ if .row6 }}
       <div class="item">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row6 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
       {{ if .row7 }}
       <div class="item">
          <div class="row col-md-10 col-md-offset-1">
          {{ range .row7 }}
            <div class="col-md-3 sponsor-container">
                <img src="assets/img/sponsors/{{ . | urlize }}.png" alt="{{ . }}" class="img-responsive sponsor-img">
            </div>
         {{ end }}
          </div>
        </div>
       {{ end }}
    {{ end }}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#testimonials-carousel" data-slide="prev">
    <span class="fa fa-angle-left"></span>
  </a>
  <a class="right carousel-control" href="#testimonials-carousel" data-slide="next">
    <span class="fa fa-angle-right"></span>
  </a>
</div>