{{ partial "header.html" . }}
<body>
	{{ partial "navbar.html" . }}

	<div class="container" id="practice" name="practice">
        <div class="row white">
            <br>
            <h1 class="centered">404</h1>
            <hr>
            <div class="col-lg-offset-2 col-lg-8">
                <p class="centered">Looks like you may be lost! Navigate back home and try to find where you were going.</p>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->

{{ partial "footer.html" . }}
