{{ partial "header.html" . }}
<body>
	{{ partial "navbar.html" . }}
    {{ if .Site.Params.fbpixel }}<script type="text/javascript">fbq('track', 'ViewContent');</script>{{ end }}
<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
            	<h2>{{ .Title }}</h2>
                <div class="row">
		        {{ range .Data.Pages }}
		            {{ .Render "summary"}}
		        {{ end }}
		        </div>
	        </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}