<div class="col-md-3 col-sm-4">
    <div class="card-image card-product">
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.imgurl }}" alt="Rounded Image" class="img-rounded img-responsive">
        </a>
        <div class="details">
            <div class="description">
                <div class="name">{{ .Params.shorttitle }}</div>
                <div class="meta">{{ .Params.mini }}</div>
            </div>
            <div class="actions">
                <h5>${{ .Params.price }}</h5>
            </div>
        </div>
    </div>
</div>